<!DOCTYPE html>
<html ng-ap="spaApp" class= "no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nyasia Miranda: Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900/Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- *Begin AngularJs* -->
    <script src="js/vendor/angular-1.7.8/angular.min.js"></script>
    <script src="js/vendor/angular-1.7.8/angular-animate.min.js"></script>
    <script src="js/vendor/angular-1.7.8/angular-route.min.js"></script>
<!-- *End AngularJs* -->

<!-- *Begin Datetables.net -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.10.20/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.10.20/datatables.min.js"></script>
<!-- *End Datetables.net* -->

<!-- *Begin Font Awesome*
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
-->
    <!-- The font Awesome code below is several revisions back.
    https://stackoverflow.com/questions/14698589/fontawesome-not-available-as-a-font-family
    I discovered that it would work from an article on stack overflow. all code should at some point be updated to reflect the last calling syntax for font awesome -->

    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<!-- *End Fontawesome* -->

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/foundation.css">


    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/subnav.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/contact-panel.css">
    <link rel="stylesheet" href="css/comment-section-container.css">
    <link rel="stylesheet" href="css/todo.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">

    </head>
  <body>
<!-- *Begin Header -->
    <header>
      <a href="index.html" class="header-brand">RoseRosu</a>
      <nav>
        <ul>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="about.html">About me</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <a href="buy.html" class="header-buy">Buy</a>
      </nav>
    </header>
<!-- *End Header -->

<!-- *Begin Banner -->
    <main>
      <div class="wrapper">
        <h2 class="photography-links-h2">Photography</h2>
      </div>
      <section class="photography-links">
         <a href="img/film1.jpg" class="digital-img">
           <img src="img/film1.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film2.jpg" class="digital-img">
           <img src="img/film2.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film3.jpg" class="digital-img">
           <img src="img/film3.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film4.jpg" class="digital-img">
           <img src="img/film4.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film5.jpg" class="digital-img">
           <img src="img/film5.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film6.jpg" class="digital-img">
           <img src="img/film6.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film7.jpg" class="digital-img">
           <img src="img/film7.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film8.jpg" class="digital-img">
           <img src="img/film8.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film9.jpg" class="digital-img">
           <img src="img/film9.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film10.jpg" class="digital-img">
           <img src="img/film10.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film11.jpg" class="digital-img">
           <img src="img/film11.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film22.jpg" class="digital-img">
           <img src="img/film22.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film24 (2).jpg" class="digital-img">
           <img src="img/film24 (2).jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film25.jpg" class="digital-img">
           <img src="img/film25.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film26.jpg" class="digital-img">
           <img src="img/film26.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film27.jpg" class="digital-img">
           <img src="img/film27.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film28.jpg" class="digital-img">
           <img src="img/film28.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film29.jpg" class="digital-img">
           <img src="img/film29.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film30.jpg" class="digital-img">
           <img src="img/film30.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film31.jpg" class="digital-img">
           <img src="img/film31.jpg" alt="snowqueen3 image">
         </a>
         <a href="img/film32.jpg" class="digital-img">
           <img src="img/film32.jpg" alt="snowqueen3 image">
         </a>
      </section>
    </main>
  <!-- *Begin Section -->

<!-- *Test 1-->
<!doctype html>
<html ng-app="todoApp">
  <body>
    <h2>Comments</h2>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.name}}</span>
            <span class="done-{{todo.done}}">{{todo.comment}}</span>

          </label>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <!-- Add Name -->
        <input type="text" ng-model="todoList.todoName"  size="30"
               placeholder="add name here">

        <!-- Add Comment -->
               <input type="text" ng-model="todoList.todoComment"  size="30"
                      placeholder="add new comment here">

        <input class="btn-primary" type="submit" value="Add New Comment">





      </form>
    </div>
  </body>
</html>
<!-- *Test 1 -->

<!-- *Test 2-->
<!-- comments -->
<div class="comment-section-container">
  <h3>Comments (2)</h3>
  <div class="comment-section-author">
    <img src="https://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia
      deserunt.
    </p>
  </div>
  <div class="comment-section-author">
    <img src="https://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.
    </p>
  </div>
</div>
<!--/comments-->

<!-- comment form -->
<form class="comment-section-form">
  <div class="comment-section-box">
    <div class="row">
      <div class="small-12 column">
        <h4>Leave a Comment</h4>
        <label>Name
          <input type="text">
        </label>
        <label>Email
          <input type="text">
        </label>
        <label>Comment
          <textarea rows="10" type="text"></textarea>
        </label>
        <button class="button expanded">Submit</button>
      </div>
    </div>
  </div>
</form>
<!--/comment box-->
<!-- *Test 2 -->

  <!-- *Begin Footer -->
  <footer>
      <ul class="footer-links-main">
        <li><a href="#">Home</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="doodles.html">Doodles</a></li>
        <li><a href="buy.html">Buy</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="footer-links-cases">
        <li><p></p></li>
        <li><a href="NYASIA MIRANDA- LATEST WORK"></a></li>
        <li><a href="TRADITIONAL - ART PORTFOLIO"></a></li>
        <li><a href="ROSEROSU - INSTAGRAM"></a></li>
        <li><a href="GRAPHIC DESIGN - PORTFOLIO"></a></li>
      </ul>
      <div class="footer-sm">
        <a href="https://www.instagram.com/roserosu/">
          <img src="img/instagram-symbol.jpg" alt="instagram icon">
        </a>
        <a href="https://www.linkedin.com/in/nyasia-a-miranda-839157147/">
          <img src="img/linkedin-logo-button.png" alt="linkedin icon">
        </a>
        <a href="https://www.facebook.com/ny.miranda.526">
          <img src="img/facebook-logo-button.jpg" alt="facebook icon">
        </a>
      </div>
  </footer>
</div>
<!-- *End Footer* -->

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script src="js/contact-panel.js"></script>
    <script src="js/todo.js"></script>

    <script src="js/spa.js"></script>

  </body>
</html>
